*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-image: url(/petcareimages/backgro1.jpg);
    background-size: cover;
}
.cl{
    display: flex;
    justify-content:space-between;
    color: blue;
    background-color: rgb(235, 238, 241);
    line-height: 30px;
    
}
ul {
    display: flex;
    line-height: 60px;
}
nav ul li{
    margin-left: 30px ;
}
.cl img{
    margin-left: 20px ;
    margin-top: 5px;
    border-radius: 80px;
    background-color:red;
}
nav ul li a{
    text-decoration: none;
    font-weight: bolder;
}
nav ul li a:hover{
    color: red;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cl1{
    display: flex;
}
img{
    margin-top: 2%;
    margin-left:2%;
}
h2{
    color:orangered;
    font-size: 30px;
    margin-left:50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color:navy;
    font-family: serif;
    font-size: 20px;
}
h1{
    color: orangered;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
pre{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
}
.cls2  {
    background-color: lightskyblue;
    text-align: left;
    
}
.cls img{
    border-radius: 45px;
}
.cls1 h2 p{
    display: flex;
}